<html ng-app="myApp">
	<head>
		<title>Trabalho Habibs - Agenda</title>
		<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/bootstrap/custom.css">
		<script src="libs/angularjs/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="services/agendaService.js"></script>
		<script src="controllers/agendaController.js"></script>
	</head>
	<body class="ng-cloak">
		<div class="generic-container" ng-controller="AgendaController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Registro de Agenda </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      A SER IMPLEMENTADO
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.Agenda.id ? 'Adicionar' : 'Atualizar'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Limpar Formulario</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">Lista de Agendas </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Nome</th>
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="u in ctrl.Agendaes">
                              <td><span ng-bind="u.id"></span></td>
                              <td><span ng-bind="u.nome"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Editar</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remover</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
	</body>
</html>